@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';
:root{
  --font-family:"Poppins", sans-serif;
  --heading-font-size:32px;
  --heading-font-color:#01202b;
}

/* Banner start */
.FirstFoldAILive_topBanner__1OI8e{
    margin: 0 auto;
    max-width: 1224px;
    border-radius: 16px;
    cursor: pointer
}
.FirstFoldAILive_topBanner__1OI8e img{
  border-radius: 16px;
}
.FirstFoldAILive_topBanner__1OI8e .slick-dots {
  top: 345px;
}

.FirstFoldAILive_topBanner__1OI8e .slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.FirstFoldAILive_topBanner__1OI8e .slick-dots li {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 8px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.FirstFoldAILive_topBanner__1OI8e .slick-dots li button {
  display: none;
}

.FirstFoldAILive_topBanner__1OI8e .slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: '';
  border-radius: 15px;
  width: 42px;
  height: 8px;
  background-color: #d7d7d7;
  position: absolute;
}

.FirstFoldAILive_topBanner__1OI8e .slick-dots li.slick-active:before {
  top: 1px;
  width: 42px;
  height: 8px;
  border-radius: 15px;
  margin-left: -2px;
  background-color: var(--heading-font-color);
  cursor: pointer;
}
/* Banner End */

/*  Navigation bar start */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0;
  transition: 1s all;
}
.header_sec {
  /* max-width: 1230px; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  text-align: -webkit-center;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: 0px 70px; */
  background-color: #fff;
  max-width: 1222px;
  justify-content: start;
}
.navbar-logo {
  color: #ff3f34;
  text-decoration: none;
  font-size: 25px;
  /* padding: 0px 20px; */
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin-left: 217px;
  /* margin-right: 68px; */
}
.Header_navLink__1xm71{
    color: #000000;
    padding: 3px 15px;
    max-width: 117px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: .2px;
    color:var(--heading-font-color);
    padding: 14px 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.second_option{
   font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .2px;
    color: var(--heading-font-color);
    padding: 5px 0px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
    min-width: 135px;
    max-width: 200px;
}
.second_option::before{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff693d;
    height: 2px;
    width: 0;
    transition: .4s ease;
    margin: 0 auto;
    content: "";
}
.second_option:hover::before{
  width: 100%;
}
.second_option:hover{
  color: #ff693d !important;
}
.second_option:hover svg path{
  stroke: #ff693d !important;
}

.Header_navButton__2WGA8{
  border: 1px solid #ff693d;
  color: #ff693d !important;
  
}
.Header_navButton__2WGA8:hover {
  background-color: #ff693d;
    color: #fff !important;
}
/* .Header_navLink__1xm71 span{
  background-image: url(../assets/images/Icons/nav-arrow-down.svg);
} */
.Header_navLink__1xm71 svg{
  margin-left: 4px;
  transition: .3s ease;
  display: inline-block;
  margin-top: 2px;
}

.Header_navLink__1xm71 svg path {
  stroke: #ff693d;
  transition: .3s ease;
}
.second_option svg path{
  stroke: #000000;
}
.Header_navButton__2WGA8:hover svg path{
  stroke: #fff;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 18px 11px;
  font-weight: 700;
  transition: 0.4s all;
}
/* new */
.navbar-dropdown:hover .Header_dropdownMenu__3Wuc6 {
  opacity: 1;
  visibility: visible;
}

.Header_dropdownMenu__3Wuc6 {
  font-family: var(--font-family);
  position: absolute;
  background-color: #fff !important;
  z-index: 99;
  top: 100%;
  left: 0;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  visibility: hidden;
  min-width: 325px;
  border-top: 1px solid #f0f0f0 !important;
}
.Header_vskCard__2IXES {
  width: 300px;
  /* min-height: 86px; */
  background: #fff;
  border-radius: 8px;
  /* margin-bottom: 8px; */
  margin-left: 11px;
  cursor: pointer;
}
 .Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt {
  display: flex;
  /* padding: 12px; */
  align-items: flex-start;
 /* adding-top: 13px; p */
}
.Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt img {
  max-width: 100%;
  vertical-align: middle;
}
.Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt img{
  display: inline-block;
}
 .Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt .Header_vskCardDetails__2hUSE {
  margin-left: 23px;
  text-align: left;
}
 .Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt .Header_vskCardDetails__2hUSE .Header_vskheading__2HUQV {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 4px;
  color: var(--heading-font-color);
}
.Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt .Header_vskCardDetails__2hUSE .Header_vskSubHeading__34A-W {
  width: 232px;
  min-height: 16px;
   font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #4d626a;
}
.Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt .Header_vskCardDetails__2hUSE span {
  color: #ff693d;
  font-weight: 600;
  font-size: 12px;
}

.Header_call_section .Header_flex__2Nkvb .Header_headerPhone__iwy4M{
  margin-right: 30px;
  border-radius: 8px;
  padding: 10px 8px;
  transition: all .2s;
  display: flex;
}
.Header_call_section .Header_flex__2Nkvb .Header_headerPhone__iwy4M .Header_headerPhoneIcon__3JDrA{
  width: 36px;
  height: 36px;
  margin-right: 15px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  transition: all .2s;
  margin-top: 7px;
}
.Header_call_section .Header_flex__2Nkvb .Header_headerPhone__iwy4M .Header_headerPhoneIcon__3JDrA svg{
  display: inline-block;
    transition: all .2s;
}
.Header_call_section .Header_flex__2Nkvb .Header_headerPhoneNumber__30Fwa {
  text-align:left;
}
.Header_call_section .Header_flex__2Nkvb .Header_headerPhoneNumber__30Fwa p{
  font-size: 14px;
    line-height: 130%;
    color: #51626a;
    margin: 0;
    font-weight: 200;
}
.Header_call_section .Header_flex__2Nkvb .Header_headerPhoneNumber__30Fwa span{
  font-weight: 600;
    font-size: 16px;
}
.Header_call_section button{
  
  font-size: 13px;
  box-shadow: none;
  color: var(--heading-font-color);
  background: #fff;
  border: 1px solid #eceaea;
  /* min-height: 30px; */
  height: 37px;
  min-width: 92px;
  margin-top: 12px;
  border-radius: 12px;
}
/* new end */


.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  padding-top: 29px;
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 0px 0;
  top: 100%;
  transform: translateY(50px);
  background-color: #fff;
  left: 0;
  width: 250px;
 z-index: 111;

}

.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  padding-left: 0px;
}
.new{
  padding-top: 0px !important;
  left: -79px !important;
}
.navbar-links li.navbar-dropdown .new a {
  width: 100%;
  padding: 10px 16px 20px;
  text-align: left;
  align-items: center;
  border-top: 1px solid #eceaea;
  position: relative
}
.SUb_dropdown {
    display: flex!important;
    justify-content: space-between !important;
}
.SUb_dropdown svg{
  margin-top: 10px !important;
}
.navbar-dropdown .dropdown a:hover {
  padding-left: 30px;
}
.navbar-links li a:hover {
  color: #ff3f34;
}
.dropdown-left{
  border-right: 1px solid #eceaea;
  padding-top: 30px;
}
.dropdown-left .Header_vskCard__2IXES .Header_vskCardWrapper__2E4mt{
  border-bottom: 1px solid #eceaea;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tryscrollbar{
  max-height: 360px;
  overflow-y: scroll;
  /* box-sizing: content-box; */
  overflow-x: hidden;
}
.oureInitiative{
   font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .2px;
    color: var(--heading-font-color);
    margin-top: 10px;
    margin-left: 21px;
}
.oureInitiative_sec_right{
  border-bottom: 1px solid #eceaea; 
}
.oureInitiative_sec a{
  padding: 12px 0 10px 55px !important;
   font-family: var(--font-family);
  display: block;
  transition: .3s ease;
  background-color: transparent;
  text-align: left;
}
.oureInitiative_sec h4{
  font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--heading-font-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.oureInitiative_sec p{
  margin: 5px 0 0;
    font-size: 13px;
    line-height: 130%;
    color: #4d626a;
    max-width: 234px;
}
.dropdown-right{
  padding-top: 30px;
}
.tryscrollbar::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 90vh;
  /* background-color: #f00; */
  background-image: url("http://lorempixel.com/1366/698/food/");
  background-size: cover;
}

.header-inner {
  text-align: center;
  color: #ff3f34;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, .8);
}

.header-inner h1 {
   font-family: "Great Vibes", cursive;
   font-size: 130px;
}

.header-inner form input[type="search"] {
  position: relative;
  width: 500px;
  border: none;
  padding: 15px;
  border-radius: 27px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  z-index: 11;
}
.header-inner form input[type="search"]:focus {
  outline: none;
}

.header-inner form input[type="search"]:focus + div {
  z-index: 1;
  opacity: 1;
}

/*  Navigation bar end */



.styles_homepageContainer__cL6dC {
     font-family: var(--font-family);
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: var(--heading-font-color);
    line-height: 1.6;
    letter-spacing: .2px;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}
.navbar-dropdown .new a:hover .testing_dropdown{
  display: block !important;
  
}
.subDrop1:hover .sub_sub_dropdown{
  display: block !important;
}
.sub_sub_dropdown{
  display: none;
  position: absolute;
  left: 250px;
  top: 0px;
  background: #fff;
  min-width: 281px;
  border-right: 1px solid #eceaea;
}

.insideSUb_dropdown {
  display: flex!important;
  justify-content: space-between !important;
}
.insideSUb_dropdown svg{
  margin-top: 10px !important;
}
.subDrop1:hover .sub_sub_dropdown{
  display: block !important;
}
.sub_sub_dropdown1{
  display: none;
  position: absolute;
    left: 281px;
    top: -1px;
    background: #fff;
    min-width: 301px;
    border-right: 1px solid #eceaea;
}
.new{
  border-right: 1px solid #eceaea;
}
.insidedropdownmenu:hover .sub_sub_dropdown1{
  display: block;
}

.subjectname{
  padding-left: 5px;
    color: #4d626a;
    font-weight: 100;
    font-size: 13px;
}
.firstdrop:hover{
  background-color: #f8f8f8;
}
.displaypropetry{
  display: none !important;
}
.schoolTuition_secontion:hover .displaypropetry{
  display: block !important;
}
/*  more dropdown */

/* more dropdown end */

/* Explore course css */

.styles_homepageContainer__cL6dC *, .styles_homepageContainer__cL6dC :after, .styles_homepageContainer__cL6dC :before {
     font-family: var(--font-family);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.FirstFoldAILive_courses__3RxuZ h1 {
  font-weight: 600;
  font-size: var(--heading-font-size);
  line-height: 120%;
  color: var(--heading-font-color);
  margin-bottom: 30px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.FirstFoldAILive_courses__3RxuZ h1 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #344e5a;
  margin-left: 8px;
}
.FirstFoldAILive_coursesNew__3-vdo {
  display: flex;
  gap: 16px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.ExamCourse_exam-preparation-card__3WIyX {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 3px 0 #f0f0f0;
  border: 2px solid #eceaea;
  border-radius: 24px;
  position: relative;
  flex: 1;
}


.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-desc__1X_Pc {
  width: 70%;
  padding: 27px 0 64px 32px;
  min-height: 322.8px;
  z-index: 1;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-desc__1X_Pc .ExamCourse_title__UA5sm {
     font-family:var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0181fd;
  margin-bottom: 12px;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-desc__1X_Pc h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .181818px;
  color: var(--heading-font-color);
  margin-bottom: 15px;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-desc__1X_Pc .ExamCourse_exam-button-list__3deFx {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-desc__1X_Pc .ExamCourse_exam-button-list__3deFx a {
  line-height: 19px;
  text-align: center;
  color: #ff693d;
  background-color: #fff;
  border: 1px solid #eceaea;
  border-radius: 6px;
  padding: 7px 15px;
  margin: 0 8px 8px 0;
  min-width: 67px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.Button_button--secondary__1uvV5.Button_button--small__17kTZ {
  box-shadow: 0 1px 0 #eceaea;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_primary-btn__TiGNo {
  border: 1px solid #ef5c32;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  min-width: 136.38px;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_explore-cta-ff__GqCje {
  position: absolute;
  bottom: 32px;
  z-index: 1;
}
.Button_button--primary__1TO8y.Button_button--medium__2at61 {
  box-shadow: 0 3px 0 #f35427;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-img__1F_tc {
  width: 42%;
}

.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-img__1F_tc img {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ExamCourse_exam-preparation-card__3WIyX .ExamCourse_exam-prepare-img__1F_tc img {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.styles_homepageContainer__cL6dC img, .styles_homepageContainer__cL6dC video {
  max-width: 100%;
  vertical-align: middle;
}
.styles_homepageContainer__cL6dC img, .styles_homepageContainer__cL6dC svg {
  display: inline-block;
}
.Button_button--primary__1TO8y {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  background: #ff693d;
  box-shadow: 0 3px 0 #f35427;
  border: 1px solid transparent;
}
.Button_button__tSJmD {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: .2px;
  cursor: pointer;
  transition: .3s ease;
  min-width: 195px;
  padding: 12px 15px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 990px){
  
.ExamCourse_exam-preparation-card__3WIyX {
  max-width: 360px;
}
}
@media (min-width: 768px){
  
.md\:tw-block {
  display: block;
}
}
/* Explore course css end  */


/* States css start */
.states_section{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 74px;

}
.card-section, .wave-section-card {
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 25px rgb(24 24 24 / 16%);
  border-radius: 10px;
  background: #fff;
  background-size: cover;
  position: relative;
}
.card-section,.heading3{
  font-size: 18px;
    color: var(--heading-font-color);
    text-align: center;
    margin-bottom: 20px;
}
.List-of-University {
   font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  color: #505050;
}
.List-of-University li {
  border: 1px solid #e0e0e0;
  padding: 3px 10px 3px 25px;
  margin: 3px 0px 6px 0px;
  border-radius: 20px;
  text-align: left;
  /* display: inline-block; */
}
.List-of-University li img {
  width: 25px;
  margin-left: -20px;
}
.List-of-University li a {
  color: #737373;
  text-decoration: none;
}
.List-of-University li:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 0 0 rgba(50,50,50,.15)!important;
  -moz-box-shadow: 0 0 0 0 rgba(50,50,50,.15)!important;
  box-shadow: 0 0 0 0 rgba(50,50,50,.15)!important;
}
/*  States css end */


/*  Study Material Section start  */
.StudyMaterials_study-slider__196qW {
  padding-top: 33px;
}
.StudyMaterials_study-slider__196qW h2 {
  padding-bottom: 32px;
  font-size: var(--heading-font-size);
  line-height: 1.4;
  color: var(--heading-font-color);
    letter-spacing: normal;
    font-weight: 600;
}

.styles_homepageContainer__cL6dC .styles_small-container__2O3eV {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



/*  Study Material Section End  */

/*  Govt Schems section Start */
.Govt_schems {
  max-width: 961px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 74px;
}
.Govt_scholorships{
  
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 74px;
}
.govt_heading h1{
  text-align: center;
  font-size: var(--heading-font-size);
  line-height: 36px;
  color: var(--heading-font-color);
  font-weight: bolder;
}
.content_section{
  font-size: 17px;
  line-height: 25px;
}
.govt_icons:after {
  content: "";
  background: var(--heading-font-color);
  width: 70px!important;
  height: 48px !important;
  /* opacity: 999999; */
  /* z-index: 999999; */
  display: block;
  border-radius: 50%;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.1;
  top: 42px !important;
  left: 39px !important;
  /* background-color: rgb(256 249 339/var(--tw-bg-opacity)); */
}
.Govt_scholorships .govt_icons:after {
  content: "";
  background: var(--heading-font-color);
  width: 70px;
  height: 48px;
  /* opacity: 999999; */
  /* z-index: 999999; */
  display: block;
  border-radius: 50%;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.1;
  top: 40px !important;
  left: 36px !important;

  /* background-color: rgb(256 249 339/var(--tw-bg-opacity)); */
}
.govt_group a{
  font-size: 15px;
    line-height: 27px;
}

/* Govt Schems Section End */








/* study matreial slider */
.StudyMaterialCard_card__1JDBu {
  border-radius: 12px;
  max-width: 100%;
  margin-bottom: 4px;
  background-position: 100%;
  background-repeat: no-repeat;
  margin-right: 16px;
  width: 204px;
  height: 260px
}

@media(max-width: 767px) {
  .StudyMaterialCard_card__1JDBu {
      margin-right:3.5px
  }

  .StudyMaterialCard_card__1JDBu.StudyMaterialCard_newLayout__3Dxrk {
      margin: auto;
      width: 158px;
      height: 202px;
      background-size: contain
  }
}

.StudyMaterialCard_card__1JDBu .StudyMaterialCard_details-wrapper__1IY-L {
  width: 100%;
  height: 100%;
  min-height: 87px;
  z-index: 10;
  padding: 16px
}

@media(max-width: 767px) {
  .StudyMaterialCard_card__1JDBu .StudyMaterialCard_details-wrapper__1IY-L {
      padding-right:10px;
      padding-left: 10px
  }
}

.StudyMaterialCard_card__1JDBu .StudyMaterialCard_card-title__-Ke-f {
   font-family: var(--font-family); 
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--heading-font-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2
}

@media(max-width: 768px) {
  .StudyMaterialCard_card__1JDBu .StudyMaterialCard_card-title__-Ke-f {
      font-size:16px;
      padding-left: 2px
  }
}

.StudyMaterialCard_card__1JDBu .StudyMaterialCard_card-subtitle__SJHOj {
   font-family: var(--font-family); 
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--heading-font-color)
}

@media(max-width: 768px) {
  .StudyMaterialCard_card__1JDBu .StudyMaterialCard_card-subtitle__SJHOj {
      font-size:16px;
      padding-left: 2px
  }
}

.StudyMaterials_study-slider__196qW {
  padding-top: 33px
}

@media(max-width: 767px) {
  .StudyMaterials_study-slider__196qW {
      padding:20px 0
  }

  .StudyMaterials_study-slider__196qW .StudyMaterials_newLayout__2p5d2 {
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 12px;
      margin-left: 10px;
      margin-right: 10px
  }

  .StudyMaterials_study-slider__196qW .StudyMaterials_newLayout__2p5d2 .StudyMaterials_single-slider-item__OlEEu {
      margin: 0
  }
}



@media(max-width: 768px) {
  .StudyMaterials_study-slider__196qW h2 {
      font-size:20px;
      padding-bottom: 15px
  }
}

.StudyMaterials_study-slider__196qW .slick-track {
  margin-left: unset
}

.StudyMaterials_study-slider__196qW .slick-next {
  right: -16px;
  width: 32px;
  height: 32px;
  }

.StudyMaterials_study-slider__196qW .slick-next:before {
  top: 3px;
  background-image: url(../assets/images/reshot-icon-arrow-right-QC8ZV9TSGD.svg);
  color: currentColor;
  font-size: 30px;

}


.StudyMaterials_study-slider__196qW .slick-prev {
  left: -16px;
  width: 32px;
  height: 32px;
  z-index: 9;
   }

.StudyMaterials_study-slider__196qW .slick-prev:before {
  top: 3px;
  background-image: url(../assets/images/reshot-icon-arrow-left-6HG5UADYR9.svg);
  color: currentColor;
  font-size: 30px;
}
.StudyMaterialCard_card__1JDBu{
    border-radius: 12px;
    max-width: 100%;
    margin-bottom: 4px;
    background-position: 100%;
    background-repeat: no-repeat;
    margin-right: 16px;
    width: 204px;
    height: 260px;
    background-size: cover;
    background-image:url(../assets/images/Study_material/ncert-solutions.webp)
}

.StudyMaterials_study-slider__196qW .slick-dots {
  display: none
}

@media(max-width: 767px) {
  .StudyMaterials_study-slider__196qW .slick-dots {
      text-align:center
  }
}

.StudyMaterials_study-slider__196qW .StudyMaterials_single-slider-item__OlEEu {
  margin: 0;
  cursor: pointer
}

@media(max-width: 767px) {
  .StudyMaterials_study-slider__196qW .StudyMaterials_single-slider-item__OlEEu {
      margin-left:12.5px;
      margin-right: 0
  }
}

.overflow-x-scroll {
  overflow-x: scroll;
  scrollbar-color: #f1f1f1 #dedbdb;
}
/*   Scholorships Tabes css start*/
.Button-normal{
  padding: 3.5px 11.5px;
    display: inline-block;
    border: 1.5px solid #eceaea;
    border-radius: 6px;
    margin-right: 10px;
    transition: .3s ease;
    min-width: 80px;
}
.Button-normal-active{
  background-color: var(--heading-font-color);
    color: #fff;
}

.styles_homepageContainer__cL6dC .styles_small-container__2O3eV {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 5%;
}
.FilterResult_results-container__36Rfi {
  position: relative;
}
.FilterResult_tab-controls-wrapper__3SuCU {
  padding-bottom: 24px!important;
  text-align: center;
}
.styles_homepageContainer__cL6dC .styles_tab-controls__3oB0e {
  flex-wrap: wrap;
}
.styles_homepageContainer__cL6dC .styles_tab-controls__3oB0e button {
  padding: 3.5px 11.5px;
  display: inline-block;
  border: 1.5px solid #eceaea;
  border-radius: 6px;
  margin-right: 10px;
  transition: .3s ease;
  min-width: 80px;
}
/*   Scholorships Tabes css end */




/* populer course */
.FirstFoldAILive_PopularCoursesSection__1q8Nl {
  max-width: 1120px;
  margin: -72px auto 44px;
  z-index: 1;
  position: relative;
}
.PopularCoursesSection_PopularCoursesSection__3iAnZ {
  border: 2px solid #f1f1f1;
  box-shadow: 0 3.56158px 0 #f6f6f6;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 16px;

}
.PopularCoursesSection_PopularCoursesSection__3iAnZ .PopularCoursesSection_popularCoursesText__Z084q {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.imagesscrollbar{
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 6px;
  max-width: 164px;
  /* cursor: pointer; */
  flex: none;
  font-size: 14px;
  width: 100%;
  color: var(--heading-font-color);
  font-weight: 500;
}
.imagesscrollbar img{
  width: 33px;
  color: transparent;
}
.PopularCoursesCard_arrowIcon__1nuOu {
  transform: rotate(-90deg);
  margin-right: 10px;
}
.imagesscrollbar .contentdiv {
  justify-content: space-between;
}
.styles_homepageContainer__cL6dC svg {
  display: inline-block;
}
.PopularCoursesSection_popularCoursesText__Z084q{
  border-radius: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 20px;
  background-color: #ffda49;
  color: #000;
  margin-bottom: 18px;
}